
/* Navigation */
.navigation-bar {
  min-width: 1440px;
  width: 100%;
  height: 100%;
  max-height: 96px;
  left: 55px;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  padding-left: 55px;
  margin-bottom: 76px;
}
.nav-content {
  display: flex;
  width: 100%;
  align-items: center;
}
.navigation-bar img {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
}
.line {
  width: 473px;
  height: 1px;
  background: #ffffff;
  margin-left: 64px;
}
.menu-background {
  background: #FFFFFF0A;
  backdrop-filter: blur(81.5485px);
  width: 100%;
  max-width: 830px;
  max-height: 96px;
  height: 100%;
  padding-top: 39px;
  padding-bottom: 38px;
}
.menu-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  width: 100%;
  max-width: 542px;
  height: 100%;
  max-height: 19px;
  margin-left: 93px;
  margin-right: 165px;
}
.menu-links li {
  margin-left: 48px;
  margin-right: 48px;
}
.menu-links li a {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 25px;
}
.menu-links span {
  padding-right: 11px;
  font-weight: 700;
}
/*page background image sizing*/
html {
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-width: 1440px;
  min-height: 900px;
}
/* homepage CSS */
html.homepage {
  background-image: url('./assets/home/background-home-desktop.jpg');
  overflow-x: hidden;
}
/* travel to space */
.want-to-travel-container {
  margin-top: 251px;
  margin-bottom: 131px;
}
.space-travel-flexbox {
  display: flex;
}
.space-travel-flexbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.content-left {
  max-width: 450px;
  width: 50%;
  max-height: 382px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 131px;
}  
.content-left h3 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #D0D6F9;
  margin: 0;
  padding-bottom: 24px;
}
.content-left h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 172px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 24px;
}
.content-left p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin: 0;
}
.content-right {
  width: 50%;
  max-width: 274px;
  max-height: 274px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
}
.content-right h1 a {
  display: flex;
  justify-content: center;
  margin-top: 119px;
  margin-bottom: 119px;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
  text-transform: uppercase;
  text-decoration: none;
}

/* Destination CSS */
html.destination {
  background-image: url('./assets/destination/background-destination-desktop.jpg');
  overflow-x: hidden;
}
.pick-your-destination-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 112px;
}
.destination-content-left {
  width: 50%;
  max-width: 508px;
}
.destination-content-left h3 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 97px;
  width: 100%;
}
span.destination-number {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  text-transform: uppercase;
  padding-right: 28px;
}
.destination-content-left img {
  padding-left: 131px;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 445px;
}
.destination-content-right {
  width: 50%;
  max-width: 445px;
  height: 472px;
}
.destination-menu-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.destination-menu-links li a {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-right: 22px;
}
.destination-content-right h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 115px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 14px;
}
.destination-content-right p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin: 0;
  padding-bottom: 54px;
}
.destination-content-line-spacer {
  width: 444px;
  height: 1px;
  background: #ffffff;
}
.destination-facts-flexbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 340px;
  padding-top: 28px;
}
.destination-fact-left {
  width: 50%;
  max-width: 455px;
}
.destination-fact-right {
  width: 50%;
}
.destination-fact-left h3 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.destination-fact-right h3 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.destination-fact-left h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.destination-fact-right h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
/* Crew CSS */
html.crew {
  background-image: url('./assets/crew/background-crew-desktop.jpg');
  overflow-x: hidden;
}
.crew-flexbox {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.crew-content-left {
  width: 50%;
  min-width: 614px;
}
.crew-content-right {
  width: 50%;
}
.crew-image-right img {
  width: 100%;
  max-width: 615.57px;
  height: 100%;
  max-height: 601px;
  object-fit: contain;
  margin-top: 82px;
}
.crew-content-left h3 {
  margin: 0;
  padding-bottom: 154px;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  text-transform: uppercase;
}
h3.crew-title {
  padding-bottom: 15px;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.crew-content-left h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 27px;
}
.crew-content-left p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  width: 100%;
  max-width: 444px;
  margin: 0;
  padding-bottom: 120px;
}
.crew-content-left span {
  margin-right: 24px;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.dot {
  height: 15px;
  width: 15px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.dot-active {
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 1 !important;
  border-radius: 50%;
  display: inline-block;
}
/* Technology CSS */
html.technology {
  background-image: url('./assets/technology/background-technology-desktop.jpg');
  overflow-x: hidden;
}
.technology-content-container {
  margin-bottom: 101px;
}
.technology-flexbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.techology-content-left, .techology-content-middle, .technology-content-end {
  width: 33.3%;
}
li.technology-number {
  margin-top: 32px;
  margin-bottom: 32px;
}
.technology-page-title {
  margin: 0;
  padding-bottom: 137px;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 10%;
}
.technology-content-left ul {
  width: 80px;
  height: 80px;
  list-style: none;
}
.technology-content-left ul li {
  opacity: 0.25;
  width: 80px;
  height: 80px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  mix-blend-mode: normal;
}
.technology-number {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  opacity: 1;
}
.technology-number-active, .technology-number:hover {
  opacity: 1 !important;
  border: none !important;
  background: white;
  color: black;
}
.technology-content-middle {
  width: 100%;
  width: 444px;
}
.technology-content-middle h3 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 11px;
}
.technology-content-left ul a {
  text-decoration: none;
}
.technology-content-middle h1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 17px;
  width: max-content;
}
.technology-content-middle p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin: 0;
  width: 100%;
}
.technology-image img {
  max-width: 515px;
  width: 100%;
  max-height: 527px;
  height: 100%;
  object-fit: cover;
}